<!DOCTYPE html>
<html>

<head>
	<!-- Basic -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<!-- Site Metas -->
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	{% load static %}
	<title>{% block title %}{% endblock %}</title>

	<!-- bootstrap core css -->
	<link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.css" />
	<!-- progress barstle -->
	<link rel="stylesheet" href="/static/assets/css/css-circular-prog-bar.css">
	<!-- fonts style -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
	<!-- font wesome stylesheet -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<!-- Custom styles for this template -->
	<link href="/static/assets/css/style.css" rel="stylesheet" />
	<!-- responsive style -->
	<link href="/static/assets/css/responsive.css" rel="stylesheet" />

	<link rel="stylesheet" href="/static/assets/css/css-circular-prog-bar.css">

	{% block othercss %}{% endblock othercss %}

</head>

<body>
	

	{% block content %}{% endblock %}
	
	<script type="text/javascript" src="/static/assets/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/static/assets/js/bootstrap.js"></script>
	
	{% block otherjs %}{% endblock otherjs %}
</body>

</html>